Repository fastapi/full-stack-fastapi-template, pull requests merged in 2023-11, with the labels that each got.

#544 👷 Add latest-changes GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal

#545 👷 Fix latest-changes GitHub Action token config
  .github/workflows/latest-changes.yml
Labels: internal

#547 👷 Add dependabot
  .github/dependabot.yml
Labels: internal

#551 📌 Add NodeJS version management and instructions
  {{cookiecutter.project_slug}}/frontend/.nvmrc
  {{cookiecutter.project_slug}}/frontend/README.md
Labels: feature

#552 📝 Update README with in construction notice
  README.md
Labels: docs

#443 🐛 Fix Celery worker command
  src/backend/app/worker-start.sh
Labels: bug

#396 📌 Fix flower Docker image, pin version
  src/docker-compose.yml
Labels: bug

#555 ♻️ Refactor frontend Docker build setup, use plain NodeJS, use custom Nginx config, fix build for old Vue
  src/.env
  src/frontend/Dockerfile
  src/frontend/nginx.conf
Labels: refactor

#562 🐛 Fix positional argument bug in `init_db.py`
  src/backend/app/app/db/init_db.py
Labels: bug

#563 ✨ Set up new frontend with Vite, TypeScript and React
  src/new-frontend/.eslintrc.cjs
  src/new-frontend/.gitignore
  src/new-frontend/README.md
  src/new-frontend/index.html
  src/new-frontend/package-lock.json
  src/new-frontend/package.json
  src/new-frontend/public/vite.svg
  src/new-frontend/src/App.css
  src/new-frontend/src/App.tsx
  src/new-frontend/src/index.css
  src/new-frontend/src/main.tsx
  src/new-frontend/src/vite-env.d.ts
  src/new-frontend/tsconfig.json
  src/new-frontend/tsconfig.node.json
  src/new-frontend/vite.config.ts
Labels: feature
