Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-07, with the labels that each got.

#1257 ♻️ Update `login.tsx` to prevent error if username or password are empty
  frontend/src/routes/login.tsx
Labels: refactor

#1246 ♻️ Abstraction of specific AddModal component out of the Navbar
  frontend/src/components/Common/Navbar.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
Labels: refactor

#1262 🎨 Format frontend
  frontend/biome.json
  frontend/src/components/Common/Navbar.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/login.tsx
Labels: refactor

#1263 ♻️ Update form inputs width
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
Labels: refactor

#1259 ♻️ Edit refactor db models to use UUID's instead of integer ID's
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/tests/api/routes/test_items.py
  backend/app/tests/api/routes/test_users.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: refactor

#1261 ✨ Add initial setup for frontend / end-to-end tests with Playwright
  .github/workflows/playwright.yml
  .gitignore
  frontend/.gitignore
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/auth.setup.ts
  frontend/tests/example.spec.ts
Labels: feature

#1264 ✨ Add Login e2e tests
  frontend/src/components/Common/UserMenu.tsx
  frontend/tests/example.spec.ts
  frontend/tests/login.spec.ts
Labels: feature

#1265 ✨ Add Sign Up and make `OPEN_USER_REGISTRATION=True` by default
  .env
  frontend/src/hooks/useAuth.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
Labels: feature

#1266 🔧 Update Playwright config and tests to use env variables
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/auth.setup.ts
  frontend/tests/config.ts
  frontend/tests/login.spec.ts
  frontend/tsconfig.json
Labels: refactor

#1268 ✨ Add Sign Up e2e tests
  frontend/src/routes/signup.tsx
  frontend/tests/sign-up.spec.ts
  frontend/tests/utils/random.ts
Labels: feature

#1229 🔧 Reuse database url from config in alembic setup
  backend/app/alembic/env.py
  backend/app/core/config.py
Labels: refactor

#1271 ✨ Add User Settings e2e tests
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/user.ts
Labels: feature

#1274 🔥 Remove `USERS_OPEN_REGISTRATION` config, make registration enabled by default
  .env
  backend/README.md
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/tests/api/routes/test_users.py
  deployment.md
  docker-compose.yml
Labels: refactor

#1275 ⬆️ Update SQLModel to version `>=0.0.21`
  backend/app/core/config.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: upgrade
