Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-04, with the labels that each got.

#1145 🔧 Update sentry dns initialization following the environment settings
  backend/app/main.py
Labels: refactor

#1146 🔥 Remove unused exports and update dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
Labels: refactor

#1144 🔥 Remove isort configuration, since we use Ruff now
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
  backend/app/tests/scripts/test_backend_pre_start.py
  backend/app/tests/scripts/test_test_pre_start.py
  backend/pyproject.toml
  backend/scripts/format-imports.sh
  backend/scripts/format.sh
  backend/scripts/lint.sh
Labels: internal

#1152 🚨 Enable `ARG001` to prevent unused arguments
  backend/app/api/routes/users.py
  backend/app/tests/api/routes/test_items.py
  backend/app/tests/api/routes/test_users.py
  backend/pyproject.toml
Labels: internal

#1154 ♻️ Refactor rename ModelsOut to ModelsPublic
  backend/app/api/routes/items.py
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
  backend/app/models.py
Labels: refactor

#1156 ♻️ Regenerate frontend client
  frontend/src/client/models.ts
  frontend/src/client/schemas.ts
  frontend/src/client/services.ts
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ActionsMenu.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/settings.tsx
Labels: refactor

#1161 🎨 Format frontend
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/reset-password.tsx
Labels: refactor

#1164 📝 Update release-notes.md
  release-notes.md
Labels: docs

#1167 ✨ Use suspense for items page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/_layout/items.tsx
Labels: refactor

#1171 🐛 Fix bug when resetting password
  frontend/src/utils.ts
Labels: bug

#1165 ♻️ Fix tests when first superuser password is changed in .env
  backend/app/tests/api/routes/test_login.py
Labels: bug

#1173 🎨 Format Utils
  frontend/src/utils.ts
Labels: refactor

#1174 🚸 Use `useSuspenseQuery` to fetch members and show skeleton
  frontend/src/routes/_layout/admin.tsx
Labels: refactor

#1178 ✅ Update test to add verification database records
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
Labels: refactor

#1179 ♻️ Add delete_user_me endpoint and corresponding test cases
  backend/app/api/deps.py
  backend/app/api/routes/users.py
  backend/app/tests/api/routes/test_users.py
Labels: refactor

#1184 🐛 Fix local Traefik proxy network config to fix Gateway Timeouts
  docker-compose.override.yml
Labels: bug

#1185 🔥 Remove duplicated code
  backend/app/tests/api/routes/test_users.py
Labels: refactor
