Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-03, with the labels that each got.

#628 📝 Update README
  README.md
  img/redoc.png
  src/README.md
Labels: docs

#629 ♻ Refactor Python folder tree
  src/backend/app/api/api_v1/__init__.py
  src/backend/app/api/api_v1/endpoints/__init__.py
  src/backend/app/api/deps.py
  src/backend/app/api/main.py
  src/backend/app/api/routes/__init__.py
  src/backend/app/api/routes/items.py
  src/backend/app/api/routes/login.py
  src/backend/app/api/routes/users.py
  src/backend/app/api/routes/utils.py
  src/backend/app/backend_pre_start.py
  src/backend/app/celeryworker_pre_start.py
  src/backend/app/core/db.py
  src/backend/app/db/engine.py
  src/backend/app/initial_data.py
  src/backend/app/main.py
  src/backend/app/tests/conftest.py
  src/backend/app/tests_pre_start.py
Labels: refactor

#638 👷 Add coverage with Smokeshow to CI and badge
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
  README.md
  backend/scripts/test.sh
Labels: feature

#640 ⚙️ Add Prettier and ESLint config with pre-commit
  .pre-commit-config.yaml
  new-frontend/.eslintignore
  new-frontend/.eslintrc.cjs
  new-frontend/.eslintrc.json
  new-frontend/.prettierignore
  new-frontend/.prettierrc
  new-frontend/package-lock.json
  new-frontend/package.json
Labels: feature

#632 ✅ Add tests to raise coverage to at least 90% and fix recover password logic
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
  backend/app/backend_pre_start.py
  backend/app/celeryworker_pre_start.py
  backend/app/crud.py
  backend/app/tests/api/api_v1/test_items.py
  backend/app/tests/api/api_v1/test_login.py
  backend/app/tests/api/api_v1/test_users.py
  backend/app/tests/scripts/__init__.py
  backend/app/tests/scripts/test_backend_pre_start.py
  backend/app/tests/scripts/test_celery_pre_start.py
  backend/app/tests/scripts/test_test_pre_start.py
  backend/app/tests_pre_start.py
  backend/pyproject.toml
Labels: feature

#647 ⚙️ Add Prettier config
  new-frontend/.prettierrc
  new-frontend/package-lock.json
  new-frontend/package.json
Labels: internal

#650 🔧 Add script for ESLint
  new-frontend/package.json
Labels: internal

#656 🔥 Remove unused schemas
  backend/app/schemas/__init__.py
  backend/app/schemas/item.py
  backend/app/schemas/msg.py
  backend/app/schemas/token.py
  backend/app/schemas/user.py
Labels: refactor

#657 📸 Add new screenshots
  README.md
  img/dashboard-create.png
  img/dashboard-items.png
  img/dashboard-user-settings.png
  img/dashboard.png
  img/login.png
Labels: docs

#660 📝 Update deployment files and docs
  .env
  backend/app/core/config.py
  deployment.md
  docker-compose.override.yml
  docker-compose.traefik.yml
  docker-compose.yml
  frontend/Dockerfile
  scripts/deploy.sh
Labels: refactor

#659 ♻️ Refactor email templates
  backend/app/email-templates/build/new_account.html
  backend/app/email-templates/build/reset_password.html
  backend/app/email-templates/build/test_email.html
  backend/app/email-templates/src/new_account.mjml
  backend/app/email-templates/src/reset_password.mjml
  backend/app/email-templates/src/test_email.mjml
Labels: refactor

#661 💬 Improve Delete Account description and confirmation
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
Labels: refactor

#663 ♻️ Refactor email logic to allow re-using util functions for testing and development
  backend/README.md
  backend/app/api/deps.py
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
  backend/app/api/routes/utils.py
  backend/app/tests/api/api_v1/test_login.py
  backend/app/tests/api/api_v1/test_users.py
  backend/app/utils.py
Labels: refactor

#662 🔥 Remove unnecessary validation
  frontend/src/components/UserSettings/ChangePassword.tsx
Labels: bug

#664 ✨ Create endpoint to show password recovery email content and update email template
  backend/app/api/routes/login.py
  backend/app/email-templates/build/reset_password.html
  backend/app/email-templates/src/reset_password.mjml
  backend/app/tests/api/api_v1/test_login.py
  frontend/src/routes/reset-password.tsx
Labels: feature

#658 🔧 Add `.gitattributes` file to ensure LF endings for `.sh` files
  .gitattributes
Labels: internal

#670 📝 Update deployment docs to use a different directory for traefik-public
  deployment.md
Labels: docs

#671 🐛 Set up Sentry only when used
  backend/app/worker.py
Labels: bug

#668 🔧 Set TanStack Router devtools only in dev mode
  frontend/src/routes/__root.tsx
Labels: refactor

#666 🎨 Update theme
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/login.tsx
  frontend/src/theme.tsx
Labels: feature

#672 👷 Tweak test GitHub Action names
  .github/workflows/test.yml
Labels: internal

#674 ♻️ Refactor code structure for tests
  backend/app/api/routes/login.py
  backend/app/tests/api/routes/__init__.py
  backend/app/tests/api/routes/test_celery.py
  backend/app/tests/api/routes/test_items.py
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
  backend/scripts/lint.sh
  backend/tests-start.sh
  scripts/test.sh
Labels: refactor

#673 🎨 Improve styles
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/index.css
  frontend/src/routes/_layout/index.tsx
  frontend/src/theme.tsx
Labels: feature

#675 📝 Update frontend `README.md`
  frontend/.gitignore
  frontend/.nvmrc
  frontend/README.md
Labels: docs

#676 🔧 Update VS Code debug config
  .vscode/launch.json
Labels: refactor

#438 ⬆ Add `uvicorn[standard] to include `watchgod` and `uvloop`
  backend/pyproject.toml
Labels: upgrade

#678 📝 Update `README.md` and `deployment.md`
  README.md
  deployment.md
Labels: docs

#681 📝 Add docs for wildcard domains
  deployment.md
Labels: docs

#447 ⬆ Upgrade Flower version and command
  docker-compose.yml
Labels: feature

#682 🔧 Add a default Flower password
  .env
  README.md
  copier.yml
  deployment.md
Labels: refactor

#683 ♻️ Refactor logic to allow running pytest tests locally
  backend/README.md
  backend/app/core/config.py
  backend/app/utils.py
Labels: refactor

#365 🔧 Add `SMTP_SSL` option for older SMTP servers
  .env
  backend/app/core/config.py
  backend/app/utils.py
Labels: refactor

#333 ✨ Add support for setting `POSTGRES_PORT`
  .env
  backend/app/alembic/env.py
  backend/app/core/config.py
  deployment.md
  docker-compose.yml
Labels: feature

#677 👷 Avoid creating unnecessary *.pyc files with PYTHONDONTWRITEBYTECODE=1
  backend/celeryworker.dockerfile
Labels: refactor

#684 🎨 Adjust color and spacing
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/_layout/index.tsx
Labels: refactor

#309 ✏ Fix typo in `development.md`
  development.md
Labels: docs

#685 📌 Add Poetry lock to git
  backend/.gitignore
  backend/poetry.lock
Labels: refactor

#688 👷 Add Lint to GitHub Actions outside of tests
  .github/workflows/test.yml
  backend/backend.dockerfile
  backend/tests-start.sh
Labels: internal

#689 ♻️ Refactor user update
  backend/app/api/routes/users.py
  backend/app/crud.py
  backend/app/tests/api/routes/test_users.py
  backend/app/tests/crud/test_user.py
  backend/app/tests/utils/user.py
  backend/scripts/test.sh
Labels: refactor

#690 ✅ Add test for deleting user without privileges
  backend/app/tests/api/routes/test_users.py
Labels: refactor

#692 ✨ Migrate from pgAdmin to Adminer
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/README.md
  copier.yml
  deployment.md
  development.md
  docker-compose.override.yml
  docker-compose.yml
Labels: feature

#691 📝 Update `README.md`
  README.md
Labels: docs

#694 🔥 Remove Celery and Flower, they are currently not used nor recommended
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/Dockerfile
  backend/README.md
  backend/app/api/routes/utils.py
  backend/app/core/celery_app.py
  backend/app/tests/api/routes/test_celery.py
  backend/app/tests/scripts/test_celery_pre_start.py
  backend/app/worker.py
  backend/celeryworker.dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  backend/worker-start.sh
  copier.yml
  deployment.md
  development.md
  docker-compose.override.yml
  docker-compose.yml
Labels: refactor

#693 📸 Rename Dashboard to Home and update screenshots
  frontend/src/components/Common/SidebarItems.tsx
  img/dashaboard-dark.png
  img/dashboard-create.png
  img/dashboard-items.png
  img/dashboard-user-settings.png
  img/dashboard.png
Labels: refactor

#696 🐛 Fix allowing a user to update the email to the same email they already have
  backend/app/api/routes/users.py
Labels: bug

#697 ◀ Revert "📸 Rename Dashboard to Home and update screenshots"
  frontend/src/components/Common/SidebarItems.tsx
  img/dashaboard-dark.png
  img/dashboard-create.png
  img/dashboard-items.png
  img/dashboard-user-settings.png
  img/dashboard.png
Labels: refactor

#698 🔒️ Ensure the default values of "changethis" are not deployed
  backend/app/core/config.py
Labels: refactor

#699 🚚 Rename project to Full Stack FastAPI Template
  .env
  README.md
  backend/app/core/db.py
  frontend/index.html
  release-notes.md
Labels: docs

#700 🍱 Add GitHub image
  img/github-social-preview.png
  img/github-social-preview.svg
Labels: docs

#701 🍱 Update GitHub image
  img/github-social-preview.svg
Labels: docs

#702 📌 Upgrade Poetry lock dependencies
  backend/poetry.lock
Labels: upgrade

#706 📝 Update `README.md`, dark mode screenshot position
  README.md
Labels: docs

#708 ✏ Update header titles for consistency
  README.md
Labels: docs

#711 ✏ Fix typo in variable names in `backend/app/api/routes/items.py` and `backend/app/api/routes/users.py`
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
Labels: refactor

#710 ♻ Update Docker image to prevent errors in M1 Macs
  docker-compose.yml
Labels: refactor

#714 ⚙️ Update pre-commit config with Prettier and ESLint
  .pre-commit-config.yaml
Labels: internal

#715 🛠️ Minor changes in frontend
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ActionsMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/reset-password.tsx
Labels: refactor

#717 ♻️ Replace pytest-mock with unittest.mock and remove pytest-cov
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
  backend/app/tests/scripts/test_backend_pre_start.py
  backend/app/tests/scripts/test_test_pre_start.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts/test-cov-html.sh
Labels: refactor

#722 🎨 Replace buttons styling for variants for consistency
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
Labels: refactor

#727 🔥 Delete leftover celery file
  backend/app/celeryworker_pre_start.py
Labels: internal

#1094 🐛 Fix 403 when the frontend has a directory without an index.html
  frontend/nginx.conf
Labels: bug

#719 ♻️ Replace ESLint and Prettier with Biome to format and lint frontend
  frontend/.eslintrc.cjs
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
Labels: refactor

#1095 🎨 Update quote style in biome formatter
  frontend/biome.json
Labels: refactor

#1097 🎨 Format with Biome
  frontend/modify-openapi-operationids.js
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ActionsMenu.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/NotFound.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCustomToast.ts
  frontend/src/main.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/theme.tsx
  frontend/vite.config.ts
Labels: refactor

#1099 📝 Fix localhost URLs in `development.md`
  development.md
Labels: docs

#1098 🔧 Add Biome to pre-commit config
  .pre-commit-config.yaml
Labels: internal

#1105 🔧 Add GitHub templates for discussions and issues, and security policy
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Labels: internal

#718 📝 Add documentation for pre-commit and code linting
  development.md
Labels: docs

#1116 ✏️ Fix file path in `backend/README.md` when not wanting to use migrations
  backend/README.md
Labels: docs

#1125 👷 Update CI GitHub Actions to allow running in private repos
  .github/workflows/latest-changes.yml
  .github/workflows/smokeshow.yml
Labels: feature

#1126 📝 Add docs about CI keys, LATEST_CHANGES and SMOKESHOW_AUTH_KEY
  .github/workflows/latest-changes.yml
  deployment.md
Labels: docs

#1127 📝 Update instructions to clone for a private repo, including updates
  README.md
Labels: docs

#1128 ✨ Add support for deploying multiple environments (staging, production) to the same server
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  deployment.md
Labels: feature

#1129 🔥 Remove deprecated Docker Compose version key
  docker-compose.override.yml
  docker-compose.yml
Labels: refactor

#1131 🎨 Ignore alembic from ruff lint and format
  backend/pyproject.toml
Labels: internal

#1136 🥅 Set up Sentry for FastAPI applications
  backend/app/main.py
Labels: refactor

#1138 ♻️ Add email pattern and refactor in frontend
  .pre-commit-config.yaml
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/utils.ts
Labels: refactor

#1139 ♻️ Refactor and remove `React.FC`
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ActionsMenu.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/NotFound.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
Labels: refactor

#1140 🎨 Format imports
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
Labels: refactor
