Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-02, with the labels that each got.

#592 ✨ Add state store to new frontend
  src/new-frontend/package.json
  src/new-frontend/src/store/items-store.tsx
  src/new-frontend/src/store/user-store.tsx
  src/new-frontend/src/store/users-store.tsx
Labels: feature

#593 ✨ Add new pages, components, panels, modals, and theme; refactor and improvements in existing components
  src/new-frontend/src/App.tsx
  src/new-frontend/src/components/ActionsMenu.tsx
  src/new-frontend/src/components/Navbar.tsx
  src/new-frontend/src/components/Sidebar.tsx
  src/new-frontend/src/components/SidebarItems.tsx
  src/new-frontend/src/components/UserInfo.tsx
  src/new-frontend/src/pages/auth/Login.tsx
  src/new-frontend/src/pages/main/Admin.tsx
  src/new-frontend/src/pages/main/Dashboard.tsx
  src/new-frontend/src/pages/main/Items.tsx
  src/new-frontend/src/pages/main/Profile.tsx
  src/new-frontend/src/pages/modals/CreateItem.tsx
  src/new-frontend/src/pages/modals/CreateUser.tsx
  src/new-frontend/src/pages/modals/DeleteAlert.tsx
  src/new-frontend/src/pages/modals/EditItem.tsx
  src/new-frontend/src/pages/modals/EditUser.tsx
  src/new-frontend/src/pages/panels/Appearance.tsx
  src/new-frontend/src/pages/panels/ChangePassword.tsx
  src/new-frontend/src/pages/panels/DeleteAccount.tsx
  src/new-frontend/src/pages/panels/UserInformation.tsx
Labels: feature

#594 ✨ Add delete_user; refactor delete_item
  src/backend/app/app/api/api_v1/endpoints/items.py
  src/backend/app/app/api/api_v1/endpoints/users.py
  src/new-frontend/src/client/services/ItemsService.ts
  src/new-frontend/src/client/services/UsersService.ts
  src/new-frontend/src/store/users-store.tsx
Labels: feature

#595 ✨ Add `Not Found` page
  src/new-frontend/src/App.tsx
  src/new-frontend/src/pages/NotFound.tsx
Labels: feature

#601 ✨ Add support for updating items and upgrade SQLModel to 0.0.16 (which supports model object updates)
  src/backend/app/app/api/api_v1/endpoints/items.py
  src/backend/app/app/models.py
  src/backend/app/pyproject.toml
Labels: feature

#599 ♻ Refactor items and services endpoints to return count and data, and add CI tests
  .github/workflows/test.yaml
  src/backend/app/app/api/api_v1/endpoints/items.py
  src/backend/app/app/api/api_v1/endpoints/users.py
  src/backend/app/app/models.py
  src/backend/app/app/tests/api/api_v1/test_celery.py
  src/backend/app/app/tests/api/api_v1/test_users.py
  src/backend/app/pyproject.toml
  src/docker-compose.override.yml
  src/docker-compose.yml
Labels: feature

#607 ♻ Re-structure Docker Compose files, discard Docker Swarm specific logic
  src/docker-compose.override.yml
  src/docker-compose.yml
Labels: refactor

#608 🔥 Clean up old files no longer relevant
  .github/workflows/test.yml
  .gitignore
  .travis.yml
  CONTRIBUTING.md
  README.md
  scripts/dev-fsfp-back.sh
  scripts/dev-fsfp.sh
  scripts/dev-link.sh
  scripts/discard-dev-files.sh
  scripts/generate_cookiecutter_config.py
  scripts/test.sh
  src/.env
  src/.gitignore
Labels: refactor

#610 ➕ Replace black, isort, flake8, autoflake with ruff and upgrade mypy
  .pre-commit-config.yaml
  src/backend/.flake8
  src/backend/mypy.ini
  src/backend/pyproject.toml
Labels: feature

#611 🎨 Format files with pre-commit and Ruff
  .github/workflows/test.yml
  src/backend/app/alembic/README
  src/backend/app/alembic/env.py
  src/backend/app/alembic/versions/e2412789c190_initialize_models.py
  src/backend/app/api/api_v1/endpoints/items.py
  src/backend/app/api/api_v1/endpoints/users.py
  src/backend/app/api/deps.py
  src/backend/app/core/config.py
  src/backend/app/core/security.py
  src/backend/app/crud/__init__.py
  src/backend/app/crud/base.py
  src/backend/app/crud/crud_item.py
  src/backend/app/crud/crud_user.py
  src/backend/app/email-templates/build/new_account.html
  src/backend/app/email-templates/build/reset_password.html
  src/backend/app/email-templates/build/test_email.html
  src/backend/app/models.py
  src/backend/app/schemas/item.py
  src/backend/app/schemas/token.py
  src/backend/app/schemas/user.py
  src/backend/app/tests/api/api_v1/test_celery.py
  src/backend/app/tests/api/api_v1/test_items.py
  src/backend/app/tests/api/api_v1/test_login.py
  src/backend/app/tests/api/api_v1/test_users.py
  src/backend/app/tests/conftest.py
  src/backend/app/tests/utils/item.py
  src/backend/app/tests/utils/user.py
  src/backend/app/tests/utils/utils.py
  src/backend/app/utils.py
  src/docker-compose.override.yml
  src/docker-compose.yml
  src/frontend/.nvmrc
  src/frontend/babel.config.js
  src/frontend/nginx.conf
  src/frontend/src/views/main/profile/UserProfileEditPassword.vue
Labels: refactor

#612 ✨ Add Copier, migrate from Cookiecutter, in a way that supports using the project as is, forking or cloning it
  .gitignore
  cookiecutter.json
  src/.copier/.copier-answers.yml.jinja
  src/.copier/update_dotenv.py
  src/.env
  src/backend/.gitignore
  src/backend/app/tests/.gitignore
  src/cookiecutter-config-file.yml
  src/copier.yml
Labels: feature

#613 📝 Update internal README and referred files
  src/.gitlab-ci.yml
  src/README.md
  src/backend/app/db/init_db.py
Labels: docs

#603 ✨ Restructure folders, allow editing of users/items, and implement other refactors and improvements
  src/new-frontend/src/components/ActionsMenu.tsx
  src/new-frontend/src/components/Admin/AddUser.tsx
  src/new-frontend/src/components/Admin/EditUser.tsx
  src/new-frontend/src/components/Common/ActionsMenu.tsx
  src/new-frontend/src/components/Common/DeleteAlert.tsx
  src/new-frontend/src/components/Common/Navbar.tsx
  src/new-frontend/src/components/Common/Sidebar.tsx
  src/new-frontend/src/components/Common/SidebarItems.tsx
  src/new-frontend/src/components/Common/UserMenu.tsx
  src/new-frontend/src/components/Items/AddItem.tsx
  src/new-frontend/src/components/Items/EditItem.tsx
  src/new-frontend/src/components/Sidebar.tsx
  src/new-frontend/src/components/UserSettings/Appearance.tsx
  src/new-frontend/src/components/UserSettings/ChangePassword.tsx
  src/new-frontend/src/components/UserSettings/DeleteAccount.tsx
  src/new-frontend/src/components/UserSettings/DeleteConfirmation.tsx
  src/new-frontend/src/components/UserSettings/UserInformation.tsx
  src/new-frontend/src/hooks/useAuth.tsx
  src/new-frontend/src/hooks/useCustomToast.tsx
  src/new-frontend/src/modals/AddUser.tsx
  src/new-frontend/src/modals/EditItem.tsx
  src/new-frontend/src/modals/EditUser.tsx
  src/new-frontend/src/pages/Admin.tsx
  src/new-frontend/src/pages/Dashboard.tsx
  src/new-frontend/src/pages/ErrorPage.tsx
  src/new-frontend/src/pages/Items.tsx
  src/new-frontend/src/pages/Layout.tsx
  src/new-frontend/src/pages/Login.tsx
  src/new-frontend/src/pages/RecoverPassword.tsx
  src/new-frontend/src/pages/UserSettings.tsx
  src/new-frontend/src/panels/ChangePassword.tsx
  src/new-frontend/src/panels/UserInformation.tsx
  src/new-frontend/src/store/items-store.tsx
  src/new-frontend/src/store/user-store.tsx
  src/new-frontend/src/store/users-store.tsx
Labels: feature

#614 ✨ Support delete own account and other tweaks
  src/backend/app/api/api_v1/endpoints/users.py
  src/new-frontend/src/components/Common/Sidebar.tsx
  src/new-frontend/src/components/Common/UserMenu.tsx
  src/new-frontend/src/components/UserSettings/DeleteConfirmation.tsx
  src/new-frontend/src/hooks/useAuth.tsx
  src/new-frontend/src/store/items-store.tsx
  src/new-frontend/src/store/users-store.tsx
Labels: feature

#615 ⬆ Upgrade code to support pydantic V2
  src/backend/app/api/api_v1/endpoints/users.py
  src/backend/app/core/config.py
  src/backend/app/db/engine.py
  src/backend/app/models.py
  src/backend/app/schemas/item.py
  src/backend/app/schemas/user.py
  src/backend/pyproject.toml
Labels: upgrade

#616 ✨ Add form validation to Admin, Items and Login
  src/new-frontend/src/components/Admin/AddUser.tsx
  src/new-frontend/src/components/Admin/EditUser.tsx
  src/new-frontend/src/components/Common/DeleteAlert.tsx
  src/new-frontend/src/components/Items/AddItem.tsx
  src/new-frontend/src/components/Items/EditItem.tsx
  src/new-frontend/src/components/UserSettings/Appearance.tsx
  src/new-frontend/src/components/UserSettings/DeleteConfirmation.tsx
  src/new-frontend/src/components/UserSettings/UserInformation.tsx
  src/new-frontend/src/pages/Login.tsx
Labels: feature

#617 ♻️ Refactor and update CORS, remove trailing slash from new Pydantic v2
  src/.env
  src/backend/app/core/config.py
  src/backend/app/main.py
  src/docker-compose.yml
Labels: refactor

#618 🔧 Update .env to allow local debug for the backend
  src/.env
Labels: refactor

#619 👷 Update GitHub Action latest-changes and move release notes to independent file
  .github/workflows/latest-changes.yml
  README.md
  release-notes.md
Labels: docs

#620 🔧 Add VS Code debug configs
  .vscode/launch.json
Labels: feature

#621 ✨ Add private/public routing
  src/new-frontend/public/vite.svg
  src/new-frontend/src/components/Common/ActionsMenu.tsx
  src/new-frontend/src/components/UserSettings/DeleteConfirmation.tsx
  src/new-frontend/src/hooks/useAuth.tsx
  src/new-frontend/src/main.tsx
  src/new-frontend/src/pages/Layout.tsx
  src/new-frontend/src/routes/private_route.tsx
  src/new-frontend/src/routes/public_route.tsx
  src/new-frontend/src/theme.tsx
Labels: feature

#622 ♻️ Refactor old CRUD utils and tests
  src/backend/app/api/api_v1/endpoints/users.py
  src/backend/app/crud.py
  src/backend/app/crud/__init__.py
  src/backend/app/crud/base.py
  src/backend/app/crud/crud_item.py
  src/backend/app/crud/crud_user.py
  src/backend/app/tests/api/api_v1/test_items.py
  src/backend/app/tests/api/api_v1/test_users.py
  src/backend/app/tests/conftest.py
  src/backend/app/tests/crud/test_item.py
  src/backend/app/tests/crud/test_user.py
  src/backend/app/tests/utils/item.py
  src/backend/app/tests/utils/user.py
Labels: refactor

#624 ✨ Add password reset functionality
  src/backend/app/utils.py
  src/new-frontend/src/pages/RecoverPassword.tsx
  src/new-frontend/src/pages/ResetPassword.tsx
  src/new-frontend/src/routes/public_route.tsx
Labels: feature
