Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-05, with the labels that each got.

#1191 📝 Add `Enabling Open User Registration` to backend docs
  backend/README.md
Labels: docs

#1192 🔧 Update Node.js version in `.nvmrc`
  frontend/.nvmrc
Labels: internal

#1194 ✏️ Fix Adminer URL in `deployment.md`
  deployment.md
Labels: docs

#1198 👷 Update Smokeshow download artifact GitHub Action
  .github/workflows/smokeshow.yml
Labels: internal

#1203 🔒️ Refactor migrate from python-jose to PyJWT
  backend/app/api/deps.py
  backend/app/core/security.py
  backend/app/utils.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: refactor

#1208 ♻️ Refactor redirect labels to simplify removing the frontend
  docker-compose.yml
Labels: refactor

#1206 🚚 Move assets to public folder
  frontend/index.html
  frontend/public/assets/images/fastapi-logo.svg
  frontend/public/assets/images/favicon.png
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/routes/login.tsx
Labels: refactor

#1210 ⚒️ Add minor frontend tweaks
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/utils.ts
Labels: refactor
