Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-10, with the labels that each got.

#1381 ♻️ Add PaginationFooter component
  frontend/src/components/Common/PaginationFooter.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
Labels: refactor

#1383 🔧 Add .auth playwright folder to `.gitignore`
  frontend/.gitignore
Labels: internal

#1388 👷 Update `labeler.yml`
  .github/workflows/labeler.yml
Labels: internal

#1387 📝 Add MailCatcher to `development.md`
  development.md
Labels: docs

#1395 👷 Fix smokeshow, checkout files on CI
  .github/workflows/smokeshow.yml
Labels: internal

#1398 👷 Update issue manager workflow
  .github/workflows/issue-manager.yml
Labels: internal

#1405 👷 Improve Playwright CI speed: sharding (paralel runs), run in Docker to use cache, use env vars
  .github/workflows/playwright.yml
  .github/workflows/test-docker-compose.yml
  docker-compose.override.yml
  frontend/.env
  frontend/Dockerfile.playwright
  frontend/playwright.config.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/tests/reset-password.spec.ts
  frontend/tests/utils/mailcatcher.ts
  frontend/tsconfig.json
Labels: refactor
