Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-06, with the labels that each got.

#1218 🐛 Fix welcome page to show logged-in user
  frontend/src/routes/_layout/index.tsx
Labels: bug

#1220 📝 Update release-notes.md
  release-notes.md
Labels: docs

#1223 ♻️ Update client services
  frontend/src/client/services.ts
Labels: refactor

#1224 ♻️ Update DeleteConfirmation component to use new service
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
Labels: refactor

#1233 🗃️ Add max_length validation for database models and input data
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/models.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: feature

#1241 ⬆️ Upgrade Traefik
  docker-compose.override.yml
  docker-compose.traefik.yml
  docker-compose.yml
Labels: upgrade

#1239 ✨ Introduce pagination in items
  frontend/src/routes/_layout/items.tsx
Labels: feature

#1226 🎨 Run biome after OpenAPI client generation
  frontend/biome.json
  frontend/package.json
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/core/types.ts
  frontend/src/client/index.ts
  frontend/src/client/models.ts
  frontend/src/client/schemas.ts
  frontend/src/client/services.ts
Labels: refactor

#1243 🎨 Format and lint
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/routes/__root.tsx
Labels: refactor

#1242 ♻️ Refactor recover password
  frontend/src/routes/recover-password.tsx
Labels: refactor

#1244 ✨ Add mailcatcher configuration
  docker-compose.override.yml
Labels: feature
