Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-08, with the labels that each got.

#1278 👷 Update issue-manager.yml GitHub Action permissions
  .github/workflows/issue-manager.yml
Labels: internal

#1276 ♻️ Refactor models to use cascade delete relationships
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/models.py
Labels: refactor

#1277 ♻️ Add random password util and refactor tests
  frontend/tests/login.spec.ts
  frontend/tests/reset-password.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/random.ts
Labels: refactor

#1279 📝 Add End-to-End Testing with Playwright to frontend `README.md`
  README.md
  frontend/README.md
Labels: docs

#1273 ♻️ Tweaks in frontend
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/utils.ts
  frontend/tests/auth.setup.ts
  frontend/tests/config.ts
Labels: refactor

#1281 ♻️ Regenerate client to use UUID instead of id integers and update frontend
  frontend/src/client/core/request.ts
  frontend/src/client/models.ts
  frontend/src/client/schemas.ts
  frontend/src/client/services.ts
  frontend/src/components/Common/DeleteAlert.tsx
Labels: refactor

#1283 🚨 Fix Docker build warning
  frontend/Dockerfile
Labels: refactor

#1284 🔧 Update deploy workflows to exclude the main repository
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: internal

#1285 📝 Update links from tiangolo repo to fastapi org repo
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/app/core/db.py
Labels: docs

#1288 👷 Update issue-manager
  .github/workflows/issue-manager.yml
Labels: internal

#1297 👷 Add GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#1298 👷 Add GitHub Action labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#1287 ♻️ Remove duplicate information in the ItemCreate model
  backend/app/models.py
Labels: refactor

#1299 👷 Add GitHub Action label-checker
  .github/workflows/labeler.yml
Labels: internal

#1300 👷 Update GitHub Action labeler permissions
  .github/workflows/labeler.yml
Labels: internal

#1302 👷 Update GitHub Action labeler dependencies
  .github/workflows/labeler.yml
Labels: internal

#1304 👷 Update GitHub Action labeler to add only one label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#1307 👷 Do not sync labels as it overrides manually added labels
  .github/workflows/labeler.yml
Labels: internal

#1308 👷 Update configs for labeler
  .github/labeler.yml
Labels: internal

#1311 📝 Add Email Templates to `backend/README.md`
  backend/README.md
Labels: docs

#1315 👷 Update `latest-changes` GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal

#1321 👷 Update `.github/labeler.yml`
  .github/labeler.yml
Labels: internal

#1322 🐛 Fix in `.github/labeler.yml`
  .github/labeler.yml
Labels: internal

#1320 👷🏻 Auto-generate frontend client
  .github/workflows/generate-client.yml
  frontend/README.md
  frontend/biome.json
  frontend/package.json
  frontend/src/client/core/request.ts
  frontend/src/client/services.ts
  scripts/generate-client.sh
Labels: internal
