Repository fastapi/full-stack-fastapi-template, pull requests merged in 2024-09, with the labels that each got.

#1327 💚 Set `include-hidden-files` to `True` when using the `upload-artifact` GH action
  .github/workflows/playwright.yml
  .github/workflows/test.yml
Labels: internal

#1329 👷 Update `issue-manager.yml`
  .github/workflows/issue-manager.yml
Labels: internal

#1335 👷 Improve playwright CI job
  .github/workflows/playwright.yml
  backend/app/api/routes/utils.py
  docker-compose.yml
  frontend/src/client/services.ts
Labels: internal

#1341 🔥 Enable support for Arm Docker images in Mac, remove old patch
  docker-compose.yml
Labels: refactor

#1342 🩺 Add DB healthcheck
  docker-compose.yml
Labels: feature

#1343 🔥 Simplify Traefik, remove www-redirects that add complexity
  docker-compose.yml
Labels: refactor

#1344 ♻️ Simplify domains with `api.example.com` for API and `dashboard.example.com` for frontend, improve local development with `localhost`
  .env
  .github/workflows/playwright.yml
  backend/README.md
  backend/app/core/config.py
  backend/app/utils.py
  deployment.md
  development.md
  docker-compose.override.yml
  docker-compose.yml
  frontend/.env
  frontend/README.md
Labels: refactor

#1348 ♻️ Include `FRONTEND_HOST` in CORS origins by default
  backend/app/core/config.py
  backend/app/main.py
Labels: refactor

#1349 ⬆️ Upgrade FastAPI
  backend/poetry.lock
  backend/pyproject.toml
Labels: upgrade

#1350 ♻️ Refactor prestart (migrations), move that to its own container
  backend/Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Labels: refactor

#1352 🚚 Move location of scripts to simplify file structure
  .github/workflows/test.yml
  backend/Dockerfile
  backend/README.md
  backend/scripts/prestart.sh
  backend/scripts/tests-start.sh
  backend/tests-start.sh
  docker-compose.yml
  scripts/test-local.sh
  scripts/test.sh
Labels: refactor

#1351 🔧 Use plain base official Python Docker image
  backend/Dockerfile
  backend/README.md
  backend/scripts/prestart.sh
Labels: refactor

#1354 ♻️ Use Docker Compose `watch`
  backend/README.md
  development.md
  docker-compose.override.yml
Labels: refactor

#1355 🔥 Remove logic for development dependencies and Jupyter, it was never documented, and I no longer use that trick
  backend/Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Labels: refactor

#1357 💡 Add comments to Dockerfile with uv references
  backend/Dockerfile
Labels: docs

#1358 👷 Add GitHub Actions workflow to lint backend apart from tests
  .github/workflows/lint-backend.yml
Labels: internal

#1359 ♻️ Update settings to use top level `.env` file
  backend/app/core/config.py
Labels: refactor

#1360 🔨 Update `generate-client.sh` script, make it fail on errors, fix generation
  scripts/generate-client.sh
Labels: internal

#1361 👷 Run tests from Python environment (with `uv`), not from Docker container
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Labels: internal

#1363 👷 Update GitHub Actions format
  .github/dependabot.yml
  .github/workflows/generate-client.yml
  .github/workflows/latest-changes.yml
  .github/workflows/lint-backend.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Labels: internal

#1366 👷 Use uv cache on GitHub Actions
  .github/workflows/generate-client.yml
  .github/workflows/lint-backend.yml
  .github/workflows/test-backend.yml
Labels: internal

#1376 👷 Generate and commit client only on same repo PRs, on forks, show the error
  .github/workflows/generate-client.yml
Labels: internal

#1260 💡 Remove unnecessary comment
  backend/app/core/db.py
Labels: refactor

#1377 👷 Tweak generate client to error out if there are errors
  .github/workflows/generate-client.yml
Labels: internal

#1157 🔧 Run task by the same Python environment used to run Copier
  copier.yml
Labels: internal

#1378 🔧 Add `ENV PYTHONUNBUFFERED=1` to log output directly to Docker
  backend/Dockerfile
Labels: refactor

#1374 🔊 Enable logging for email utils by default
  backend/app/utils.py
Labels: refactor

#1160 ♻️ Refactored code to use encryption algorithm name from settings for consistency
  backend/app/utils.py
Labels: refactor
