Repository fastapi/full-stack-fastapi-template, pull requests merged in 2025-02, with the labels that each got.

#1481 ♻️ Remove redundant item deletion code leveraging cascade delete
  backend/app/api/routes/users.py
Labels: refactor

#1462 📝 Update Frontend README.md
  frontend/README.md
Labels: docs

#1494 📝 Removing deprecated manual client SDK step
  frontend/README.md
Labels: docs

#1496 🛂 Migrate to Chakra UI v3
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/DeleteUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ActionsMenu.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/ItemActionsMenu.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/NotFound.tsx
  frontend/src/components/Common/PaginationFooter.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Common/UserActionsMenu.tsx
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/DeleteItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/Pending/PendingItems.tsx
  frontend/src/components/Pending/PendingUsers.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/close-button.tsx
  frontend/src/components/ui/color-mode.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/drawer.tsx
  frontend/src/components/ui/field.tsx
  frontend/src/components/ui/input-group.tsx
  frontend/src/components/ui/link-button.tsx
  frontend/src/components/ui/menu.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/password-input.tsx
  frontend/src/components/ui/provider.tsx
  frontend/src/components/ui/radio.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCustomToast.ts
  frontend/src/main.tsx
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
  frontend/src/theme.tsx
  frontend/src/theme/button.recipe.ts
  frontend/src/utils.ts
  frontend/tests/reset-password.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/user.ts
Labels: feature

#1497 🔧 Configure path alias for cleaner imports
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/DeleteUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ItemActionsMenu.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Common/UserActionsMenu.tsx
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/DeleteItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCustomToast.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: internal

#1498 🔧 Remove unused context from router creation
  frontend/src/main.tsx
Labels: refactor

#1492 ♻️ Replace email types from `str` to `EmailStr` in `config.py`
  backend/app/core/config.py
Labels: refactor

#1499 🐛 Refactor reset password test to create normal user instead of using super user
  backend/app/tests/api/routes/test_login.py
Labels: refactor

#1501 ♻️ Redirect the user to `login` if we get 401/403
  frontend/src/main.tsx
  frontend/tests/login.spec.ts
Labels: refactor

#1506 🎨 Add minor UI tweaks
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/_layout/index.tsx
Labels: refactor

#1507 🎨 Add minor UI tweaks in Skeletons and other components
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Pending/PendingItems.tsx
  frontend/src/components/Pending/PendingUsers.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/main.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/tests/login.spec.ts
Labels: refactor

#1508 🐛 Fix required password validation when editing user fields
  frontend/src/components/Admin/EditUser.tsx
Labels: bug
