Repository fastapi/full-stack-fastapi-template, pull requests merged in 2025-09, with the labels that each got.

#1843 ⬆️ Upgrade React and related dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: upgrade

#1793 ⬆️ Update Playwright
  frontend/Dockerfile.playwright
  frontend/package-lock.json
  frontend/package.json
Labels: upgrade

#1845 ⬆️ Update @hey-api/openapi-ts dependency version and update dependabot config
  .github/dependabot.yml
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/client/schemas.gen.ts
Labels: upgrade

#1867 🔧 Update coverage configuration and simplify test script
  backend/pyproject.toml
  backend/scripts/test.sh
Labels: internal

#1861 ⬆️ Upgrade Biome to the latest version
  .pre-commit-config.yaml
  frontend/biome.json
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/ItemActionsMenu.tsx
  frontend/src/components/Common/NotFound.tsx
  frontend/src/components/Common/UserActionsMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/main.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/signup.tsx
  frontend/tests/login.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/utils/mailcatcher.ts
  frontend/tests/utils/user.ts
  frontend/vite.config.ts
  scripts/generate-client.sh
Labels: upgrade

#1862 🚚 Move backend tests outside the `app` directory
  backend/Dockerfile
  backend/README.md
  backend/scripts/test.sh
  backend/tests/__init__.py
  backend/tests/api/__init__.py
  backend/tests/api/routes/__init__.py
  backend/tests/api/routes/test_items.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_private.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
  backend/tests/crud/__init__.py
  backend/tests/crud/test_user.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  backend/tests/utils/__init__.py
  backend/tests/utils/item.py
  backend/tests/utils/user.py
  backend/tests/utils/utils.py
Labels: refactor

#1672 🐛 Fix `parse_cors` function to be consistent for both empty string and empty list
  backend/app/core/config.py
Labels: bug
